**import libraries**

In [17]:
import pandas as pd
import numpy as np

**create  neighbourhoods dataframe**

In [18]:
df_neighborhoods = pd.read_csv(r'C:\Users\w5080797\Documents\Personal\IBM_qualification\df_toronto.csv',index_col=[0])
df_neighborhoods.head(10)

        Borough                                      Neighbourhood Postcode
0   Scarborough                                     Rouge, Malvern      M1B
1  West Toronto                           Little Portugal, Trinity      M6J
2   Scarborough                                        Upper Rouge      M1X
3   Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...      M1P
4    North York                                       Bedford Park      M5M
5    North York                                          Parkwoods      M3A
6     Etobicoke  Humber Bay, Mimico NE, Old Mill South, The Que...      M8Y
7  West Toronto                             Parkdale, Roncesvalles      M6R
8     Etobicoke                                       The Kingsway      M8X
9   Scarborough                                             Woburn      M1G

## Part 2 - extract latitude and longitude

In [10]:
data =  pd.read_csv('http://cocl.us/Geospatial_data')

In [19]:
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Rename post code of neighbourhoods table

In [22]:
df_neighborhoods.rename(columns={'Postcode': 'Postal Code'}, inplace=True)
df_neighborhoods.head()

        Borough                                      Neighbourhood Postal Code
0   Scarborough                                     Rouge, Malvern         M1B
1  West Toronto                           Little Portugal, Trinity         M6J
2   Scarborough                                        Upper Rouge         M1X
3   Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...         M1P
4    North York                                       Bedford Park         M5M

## merge the two tables

In [23]:
df_neighborhoods_coordinates = pd.merge(df_neighborhoods, data, on='Postal Code')
df_neighborhoods_coordinates.head(10)

,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,West Toronto,"Little Portugal, Trinity",M6J,43.647927,-79.419750
2,Scarborough,Upper Rouge,M1X,43.836125,-79.205636
3,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",M1P,43.757410,-79.273304
4,North York,Bedford Park,M5M,43.733283,-79.419750
5,North York,Parkwoods,M3A,43.753259,-79.329656
6,Etobicoke,"Humber Bay, Mimico NE, Old Mill South, The Que...",M8Y,43.636258,-79.498509
7,West Toronto,"Parkdale, Roncesvalles",M6R,43.648960,-79.456325
8,Etobicoke,The Kingsway,M8X,43.653654,-79.506944
9,Scarborough,Woburn,M1G,43.770992,-79.216917

## export to csv